.questions{
    height: 400px;
    width: 570px;
    position: absolute;
    text-align: center;
top: 80px;
right: 400px;
    
}
.Questionmainpage{
    height: 595px;
    background-image: url(./QuestionAnswer.jpg);
    background-size: cover;
    position: relative;
}
.answerOptions{
    
   
   list-style: none;
   margin-top: 40px;
    
}
.Questionsbtn{
    width: 400px;
    border-radius: 20px;
    margin: 5px;
    padding: 5px;
}
.Questionsbtn:hover{
    color: aliceblue;
    background-color: rgb(83, 160, 165);
}
.Questionsbtn:active{
    background-color: rgb(133, 239, 94);

}
.question{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: x-large;
    
    text-shadow: rgb(208, 230, 83) 2px 2px 2px;

}